:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

a, button {
  cursor: pointer;
}

button {
  padding: 0.4rem;
  border: none;
}